html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#controlbox {
    height: 2em;
    width: 100%;
}

#contentContainer {
    height: calc(100% - 2em);
    width: 100%;
}

#map {
    height: 100%;
    width: 40%;
    float: left;
}

#infoBox {
    height: 100%;
    width: 20%;
    float: left;
    overflow: auto;
}

#imageBox {
    margin-left: 60%;
    height: 100%;
    overflow: auto;
}

#overlayPicture {

}